/********/
/* Form */
/********/
.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 7rem auto 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 20rem;
}

.input-grupo {
  position: relative;
  width: 100%;
}

.form-label {
  position: absolute;
  top: 0;
  left: 0.2rem;
  margin: 0;
  color: rgb(216, 216, 216);
  cursor: text;
  transition: all 100ms ease;
}

.form-input {
  border: none;
  outline: none;
  width: 100%;
  background-color: var(--bgColor);
  border-bottom: rgb(168, 168, 168) 1px solid;
  color: var(--textColor);
}

.form-input:focus {
  border-color: var(--textColor);
}

.form-input:focus ~ .form-label,
.form-input:not(:placeholder-shown) ~ .form-label {
  transform: translate(-0.2rem, -1.3rem);
  font-size: 0.85rem;
  color: var(--textColor);
  transition: all 150ms ease;
}

#password {
  padding-right: 1.8rem;
}

.ojo-password {
  position: absolute;
  top: -0.2rem;
  right: 0;
  cursor: pointer;
}

.ojo-password img {
  filter: invert(0.8);
}

.ojo-password:hover img {
  filter: invert(1);
}

.form-input:not(:placeholder-shown) ~ .ojo-password img {
  filter: invert(1);
}

.form-link {
  width: fit-content;
  color: var(--textColor);
  font-size: 0.9rem;
}

.form-link:hover {
  color: var(--textColor);
}

.form-btn {
  margin-top: 1.5rem;
  padding: 0.5rem 0;
  border: none;
  border-radius: 5px;
  background-color: var(--textColor);
  font-weight: 600;
  transition: transform ease-in 150ms;
}

.form-btn:hover {
  transform: scale(1.03);
  transition: transform ease-in 150ms;
}

.form-img {
  margin-bottom: 1rem;
  width: 15rem;
  z-index: -1;
}

.form-img img {
  filter: invert(1);
  width: 100%;
  height: 100%;
}

/* Footer */
footer {
  margin-top: 0;
}
