*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bgColor: #1e1e1e;
  --textColor: white;
}

body {
  background-color: var(--bgColor);
  font-family: "Poppins", sans-serif;
}

section {
  margin: 8rem 0;
  padding: 0 4rem;
  max-width: 90rem;
}

.subtitulo {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--textColor);
}

.itbank {
  font-weight: 600;
  font-size: 1.7rem;
}

/*******/
/* Nav */
/*******/

nav {
  background-color: white;
}

.nav-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
  padding: 1rem 4rem;
  max-width: 90rem;
}

.blanco {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  width: 20rem;
  height: 4.5rem;
  background-color: white;
  z-index: 6;
}

.nav-links {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-links li {
  position: relative;
  margin-inline: 1rem;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: black;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 400ms ease;
}

.nav-links a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 400ms ease;
}

.nav-links a {
  color: black;
  font-size: 1.1rem;
  text-decoration: none;
}

.logo {
  position: relative;
  width: 130px;
  height: 40px;
  z-index: 7;
}

.logo img {
  width: 100%;
  height: 100%;
}

.nav-btns {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.btn-ingresar {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-weight: 200;
}

.bars {
  position: relative;
  display: none;
  align-items: center;
  height: 22px;
  cursor: pointer;
  z-index: 7;
}

.bars-bar,
.bars::after,
.bars::before {
  width: 30px;
  height: 4px;
  background-color: black;
  border-radius: 10px;
  transition: transform ease-in 200ms;
}

.bars::after {
  content: "";
  position: absolute;
  top: 0;
}

.bars::before {
  content: "";
  position: absolute;
  bottom: 0;
}

/**********/
/* Header */
/**********/

header {
  position: relative;
  width: 100%;
}

.header-container {
  position: relative;
  margin-inline: auto;
  max-width: 90rem;
  height: 40rem;
  overflow: hidden;
}

.header-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.header-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-info {
  position: absolute;
  top: 50%;
  left: 3rem;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 1rem;
  color: white;
  z-index: 2;
}

.header-info h1 {
  margin: 0;
  font-weight: 600;
}

.header-info-100 {
  font-size: 6rem;
}

.header-info-seguros {
  width: 22rem;
}

.header-tarjeta {
  position: absolute;
  bottom: 50%;
  right: 0;
  transform: translateY(50%);
  width: 45rem;
  height: 45rem;
}

.header-tarjeta img {
  width: 100%;
  height: 100%;
}

/* Cotizaciones */

.cotizacion {
  display: flex;
  gap: 1rem;
}

.cotizacion-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #333333;
  width: 50%;
  border-radius: 5px;
}

.cotizacion-card p {
  margin: 0;
}

.cotizacion-header {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0.5rem;
  height: 3rem;
  border-radius: 5px;
  background-color: #728176;
}

.cotizacion-titulo {
  margin: 0;
  font-weight: 600;
  font-size: 1.1rem;
}

.cotizacion-titulo h3 {
  height: fit-content;
}

.cotizacion-body {
  padding: 0.5rem 0.5rem;
}

.cotizacion-footer {
  padding: 0.5rem;
  background-color: #333333;
}

.cotizacion-btn {
  display: block;
  margin-top: 1rem;
  margin-inline: auto;
  padding: 0.7rem 5rem;
  border: none;
  border-radius: 5px;
  background-color: var(--textColor);
  font-weight: 600;
  transition: transform ease-in 150ms;
}

.cotizacion-btn:hover {
  transform: scale(1.03);
  transition: transform ease-in 150ms;
}

/*********/
/* Cards */
/*********/

.cards {
  margin-inline: auto;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.card {
  width: 350px;
  display: flex;
  background-color: #333333;
  border: none;
  align-items: center;
  cursor: pointer;
}

.card-body {
  height: 160px;
}

.card-img {
  filter: drop-shadow(5px 10px 15px #1e1e1e);
}

.card h5 {
  color: white;
  font-weight: bolder;
  font-size: 2rem;
}

.btn-primary {
  color: white;
  font-weight: bolder;
  margin-bottom: 25px;
  text-decoration: none;
}

/*********************/
/* Ser Parte Section */
/*********************/

.ser-parte {
  color: var(--textColor);
  margin-inline: auto;
}

.parte-container {
  display: flex;
  gap: 1rem;
}

.parte-section {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 50%;
}

.parte-card {
  position: relative;
  padding: 4rem 1.3rem 1rem 1rem;
  border: 2px solid var(--textColor);
  width: 50%;
  border-radius: 5px;
}

.parte-num {
  margin: 0;
  font-weight: 600;
  font-size: 1.8rem;
}

.parte-card p {
  margin: 0;
  font-size: 1rem;
}

.parte-icon {
  position: absolute;
  top: 0.5rem;
  right: 1.3rem;
  width: 50px;
  height: 50px;
  filter: invert(100%);
}

.parte-icon img {
  width: 100%;
  height: 100%;
}

/************************/
/* Cargar Saldo Section */
/************************/

.cargar-saldo {
  margin-inline: auto;
}

.cargar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--textColor);
}

.cargar-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem 2rem;
  border: 2px solid var(--textColor);
  border-radius: 5px;
  width: 50%;
}

.cargar-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
}

.cargar-img img {
  width: 100%;
  height: 100%;
}

.cargar-card p {
  margin: 0;
  font-size: 1.5rem;
}

/*************************/
/* Banco Digital Section */
/*************************/

.banco-digital {
  margin-inline: auto;
  max-width: 50rem;
  text-align: center;
  color: var(--textColor);
}

.cero-pesos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 7rem;
  font-weight: 600;
}

.pesos {
  font-size: 4rem;
}

.banco-digital p {
  font-size: 0.9rem;
  opacity: 0.8;
}

.btn-registrate {
  margin-top: 1rem;
  padding: 0.7rem 5rem;
  border: none;
  border-radius: 5px;
  background-color: var(--textColor);
  font-weight: 600;
  transition: transform ease-in 150ms;
}

.btn-registrate:hover {
  transform: scale(1.03);
  transition: transform ease-in 150ms;
}

/**********/
/* Footer */
/**********/

footer {
  margin-top: 5rem;
  padding: 4rem 0 6rem 0;
  width: 100%;
  background-color: var(--textColor);
  color: black;
}

.footer-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-inline: auto;
  padding-inline: 4rem;
  max-width: 90rem;
  height: 100%;
}

.footer-section {
  margin-bottom: 2.5rem;
}

.footer-section:nth-child(1) {
  margin-bottom: 4rem;
}

.footer-section:nth-child(1),
.footer-section:nth-child(2) {
  margin-right: 10rem;
}

.footer-section h3 {
  font-weight: 600;
}

.footer-section ul {
  margin-top: 1rem;
  padding: 0;
  list-style-type: none;
}

.footer-section li {
  margin-bottom: 0.5rem;
}

.footer-section li a {
  position: relative;
  color: black;
  opacity: 0.8;
  text-decoration: none;
}

.footer-section li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: black;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 400ms ease;
}

.footer-section li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 400ms ease;
}

.copyright {
  position: absolute;
  right: 4rem;
  bottom: -5.5rem;
  color: rgb(34, 34, 34);
  font-size: 0.9rem;
  opacity: 0.8;
}

/*****************/
/* Media Queries */
/*****************/

@media (max-width: 984px) {
  .cargar-card {
    height: 8rem;
  }
}

@media (max-width: 950px) {
  section {
    padding: 0 1.5rem;
  }

  .nav-container {
    padding: 1rem 1.5rem;
  }

  .header-info {
    top: 3.5rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .header-tarjeta {
    bottom: -7rem;
    right: 50%;
    transform: translateX(50%);
  }

  .parte-container {
    flex-wrap: wrap;
  }

  .card-container {
    flex-wrap: wrap;
  }

  .parte-section {
    width: initial;
  }

  .footer-container {
    padding-inline: 1.5rem;
  }

  .copyright {
    right: 1.5rem;
  }
}

@media (max-width: 931px) {
  .footer-section:nth-child(1) {
    margin-right: 30rem;
  }
}

@media (max-width: 800px) {
  .blanco {
    display: initial;
  }

  .nav-links {
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    width: 100%;
    background-color: white;
    transform: translateY(-16rem);
    transition: transform ease-in 400ms;
    z-index: 5;
  }

  .links-active {
    transform: translateY(4.5rem);
    transition: transform ease-in 400ms;
  }

  .nav-btns {
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    padding: 1rem 0;
    width: 100%;
    background-color: white;
    transform: translateY(-4.5rem);
    transition: transform ease-in 400ms;
    z-index: 5;
  }

  .btns-active {
    transform: translateY(16rem);
    transition: transform ease-in 400ms;
  }

  .bars {
    display: flex;
  }

  .bars-active .bars-bar {
    transform: rotate(-45deg);
    transition: transform ease-in 200ms;
  }

  .bars-active::after {
    transform: translateY(9px) rotate(-45deg);
    transition: transform ease-in 200ms;
  }

  .bars-active::before {
    transform: translateY(-9px) rotate(45deg);
    transition: transform ease-in 200ms;
  }
}

@media (max-width: 671px) {
  .header-info {
    gap: 0;
    flex-wrap: wrap;
    top: 3rem;
  }

  .header-tarjeta {
    bottom: -5rem;
    width: 38rem;
    height: 38rem;
  }

  .cargar-container {
    flex-direction: column;
  }

  .cargar-card {
    height: initial;
    width: 100%;
  }

  .footer-section:nth-child(1) {
    margin-right: 10rem;
  }
}

@media (max-width: 500px) {
  .header-info {
    width: 15rem;
  }
}
